.gray-bar{
background-color: #848487;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.list-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.logo-text{
    font-weight: bold;
    font-size: medium;
}