body{
    font-family: "Fuzzy Bubbles", sans-serif;
    background-image: url("/img/watercolor.png");
}

h1, h3 {
    color: midnightblue;
    text-decoration: underline;
}

ol{
    list-style: lower-roman;
}

ul{
    list-style: square;
}

table, td, tr{
    border: 1px solid black;
}

a:link {
    color: purple;
}
/* visited link (:visited) */
a:visited {
    color: blueviolet;
}
/*hover over link (:hover)*/
a:hover {
    color: pink;
}
/*active/selected link (:active)*/
a:active {
    color: black;
}